.shape {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}