:root {
    --text-font: Lexend, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --title-font: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    background-color: #303334;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}