:root {
    --text-font: Lexend, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --title-font: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    --background: #303334;
    --background-trans: #303334dd;
    --text-light: #AAC1C8;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    background-color: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.heading {
    /* Colors */
    --primary: #FDC355;
    --secondary: #FF835B;

    /* Fallback */
    color: #fff;

    /* Gradient Formatting */
    background: linear-gradient(135deg, var(--primary), var(--primary) 15%, var(--secondary) 85%, var(--secondary));
    background-clip: text !important;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    /* Width for gradient */
    width: max-content;

    /* Other props */
    font-family: var(--title-font);
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.padded {
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 1300px) {
    .padded {
        margin-left: 15%;
        margin-right: 15%;
    }

    .heading {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 900px) {
    .padded {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 720px) {
    .heading {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}