@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-font: 'Nanum Myeongjo', Georgia, 'Times New Roman', Times, serif;
    --title-font: 'Libre Caslon Text', Georgia, 'Times New Roman', Times, serif;
    --background: #F5F1E7;
}

h1 {
    font-family: var(--title-font);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    background-color: var(--background);
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #888888;
}

* {
    box-sizing: border-box;
}

@media (min-width: 640px) {
    html {
        font-size: 16px;
    }
}
