.project img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.project img:hover {
    transform: scale(1.025);
    filter: brightness(1.1);
    filter: drop-shadow(0 0 10px #555555);
}

.projectTag {
    font-size: 1rem;
    color: white;
    width: 100%;
}

.projectTitle {
    margin: 0.5rem 0 0;
    font-size: 1.75rem;
}

.projectSubtitle {
    margin: 0.25rem 0 1rem;
    font-size: 1.25rem;
}

.projectDesc {
    color: var(--text-light);
    margin: 0.5rem 0 2.5rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 720px) {
    .projectDesc {
        font-size: 1rem;
    }
}