.container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.project {
    height: 40rem;
    width: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    border: solid 3px black;
    position: relative;
    margin-bottom: 3rem;
    background-attachment: fixed;
}

.project h2 {
    margin: 1.5rem 0 0.5rem;
}

.projectSubtitle {
    margin-bottom: 1.5rem !important;
}

.project p {
    margin: 0.5rem 0 1rem;
}

.projectTag {
    border: solid 3px black;
    border-left: none !important;
    margin-left: -3px;
    background-color: var(--background);
    width: 40%;
    padding: 0 1rem 0.5rem 1rem;
    color: white;
    position: absolute;
    bottom: 20%;
    font-size: 1.25rem;
}

.projectDesc {
    color: var(--text-light);
}

.mobileProjects {
    display: none;
}

.mobileProject {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.mobileProject img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border: 2px solid black;
}

.mobileProjectTag .projectSubtitle {
    margin: 0.25rem 0 !important;
}

.mobileProjectTag h2 {
    margin: 0.5rem 0 0.25rem;
}

.mobileProjectTag {
    font-size: 1rem;
    color: white;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .container {
        padding: 0 5%;
    }

    .projectTag {
        width: 50%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .container {
        display: none;
    }
    .mobileProjects {
        display: block;
        padding: 0 5%;
    }
}