.container {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    padding: 0 30%;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .container {
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 0 5%;
    }    
}