.container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.quoteContainer {
    height: 3rem;
    width: 3rem;
    position: relative;
    align-self: flex-start;
    margin-left: -4rem;
}

.quote {
    align-self: center;
    font-size: 2rem;
    color: white;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .quoteContainer {
        margin-left: -1rem;
    }
}

@media screen and (max-width: 720px) {
    .container {
        margin-top: 5rem;
    }

    .quoteContainer {
        margin-left: -0.5rem;
        height: 2rem;
        width: 2rem;
    }
    
    .quote {
        font-size: 1.5rem;
    }
}