.container {
    margin: 0 2rem;
}

.button {
    height: 9rem;
    width: 9rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    border: 5px solid white;
    transform: scale(1.1);
}

.iconContainer {
    height: 5rem;
    width: 5rem;
    position: relative;
}

.text {
    width: 9rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
    .button {
        height: 8rem;
        width: 8rem;
    }

    .iconContainer {
        height: 4rem;
        width: 4rem;
    }

    .text {
        width: 8rem;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 720px) {
    .container {
        margin: 0.5rem;
    }

    .button {
        height: 5rem;
        width: 5rem;
    }    

    .iconContainer {
        height: 2.5rem;
        width: 2.5rem;
    }

    .text {
        width: 5rem;
        font-size: 1rem;
    }
}