:root {
    --primary: #36d9ff;
    --secondary: #8438ff;
    --title-font: 'Caveat Brush', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-font: 'Rubik', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ################## Baseline and app container format ################## */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #212121;
    color: #ddd;
}

#app {
    min-height: 100%;
    max-width: 50rem;
    margin: auto;
    padding: 1rem 2rem 2rem;
}

/* ################## General formats ################## */

h1 {
    width: max-content;
    padding-top: 2rem;
    margin: 0 auto 1.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--title-font);
    font-size: 5rem;
    line-height: 1.1;

    /* Fallback */
    color: #fff;

    /* Gradient Formatting */
    background: linear-gradient(135deg, var(--primary), var(--primary) 15%, var(--secondary) 85%, var(--secondary));
    background-clip: text !important;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

h2 {
    padding-top: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--title-font);
    font-size: 3rem;

}

p {
    margin-top: 0;
    font-family: var(--text-font);
    font-size: 1.25rem;
}

a {
    font-family: var(--text-font);
    font-size: 1.1rem;

    text-decoration: none;
    color: #afd3db;
    transition: 0.2s;
}

a:hover {
    filter: brightness(1.25);
    transform: scale(1.1);
}

li {
    font-family: var(--text-font);
    font-size: 1.1rem;
}

.spacer {
    height: 1rem;
    width: 100%;
}

.social {
    width: max-content;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    display: block;
    font-size: 1.25rem;
    color: var(--link-color);
}

/* ################## About section ################## */

#about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
}

#about-left {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-right {
    flex-basis: 60%;
}

.about-side {
    flex-shrink: 0;
    flex-grow: 0;
}

#link-list {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}

#email-link {
    --link-color: #ffd7b2;
}

#github-link {
    --link-color: #ffb2d7;
}

#linkedin-link {
    --link-color: #b4b2ff;
}

#list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#what-im-learning {
    margin-right: 2rem;
    grid-row: span 2;
}

#interesting-stuff {
    padding-bottom: 2rem;
}

/* Media queries */

@media only screen and (max-width: 992px) {
    #link-list {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    #list-grid {
        display: block;
    }
}
