#learning-more-text {
    text-align: center;
}

.logo-tech {
    margin: 1rem 2rem !important;
    padding: 1rem;
    width: auto !important;
}

.white {
    background-color: #ffffffdd;
    border-radius: 0.75rem;
}

.icon-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    .icon-grid {
        margin: 0 5vw;
    }
    .logo-tech {
        height: 4rem !important;
        margin: 0.5rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .icon-grid {
        margin: 0;
    }
    .logo-tech {
        height: 2rem !important;
        margin: 0.25rem !important;
        padding: 0.5rem !important;
        border-radius: 0.25rem;
    }
}