html,
body,
div,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Lexend', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: transparent;
	min-height: 100vh;
}

html {
	background-color: #f6ede7;
	min-height: 100vh;
	overflow-x: hidden;
}

:root {
	--text-accent: #a46e48;
	--text-accent-light: #A58A77;
	--lighter: #E3D1C5;
	--background: #f6ede7;
	--background-light: #F1E4D8;
}
