h1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 6rem;
    color: white;
}

h2 {
    width: fit-content;
    margin: 0;
    margin-top: 10rem;
    padding: 1rem 0.5rem;

    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 4rem;

    background: linear-gradient(135deg, var(--start), var(--start) 25%, var(--end) 75%, var(--end));

    /* Fallbacks */
    background-color: white;
    color: #212121;
}

h3 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

#about-me {
    --start: #43f3ff;
    --end: #844aff;
}

#recent-posts {
    --start: #dfa91f;
    --end: #dc6915;
}

#my-tech {
    --start: #1fdf6c;
    --end: #439fff;
}

#cool-stuff {
    --start: #df1f1f;
    --end: #dad324;
}

#footer {
    --start: #b6da24;
    --end: #1fdfd4;
}

p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.5rem;
    color: #888;
}

a {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: #3ddcff;
    transition: 0.3s;
}

a:hover {
    color: #3d8aff;
}

.home {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 5rem;
}

.home-top {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#navbar {
    width: calc(100% - 4rem);
    height: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link {
    display: block;
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 2rem;
    color: #ddd;
}

.nav-link:hover {
    color: #3ddcff;
}

#mobile-navbar {
    position: absolute;
    top: 5rem;
    height: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    z-index: 10;

    background: linear-gradient(#212121aa, #212121ff);
    transition: 1s;
}

#mobile-navbar.dropdown {
    height: 15rem;
    padding: 1rem 0;
}

.mobile-nav-link {
    height: 3rem;
    display: block;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: #ddd;
}

#hamburger {
    display: none;
    padding: 2rem;
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.background-fade {
    height: 25vh;
    width: 100vw;
    position: absolute;
    top: 75vh;
    left: 0;

    background: linear-gradient(180deg, #21212100, #212121);
}

.name-box {
    width: 65vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20vh 0 0 -32.5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #00000088;
}

#name {
    margin: 0.5rem 0;
    text-align: center;
}

#tagline {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 2rem;
    color: #9bf3ff;
}

.bottom-content {
    margin: 0 10vw;
}

.link-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    margin: 0 5rem;
    height: 5rem;
    width: 5rem;
    transition: 0.2s;
}

.logo:hover {
    transform: scale(1.15);
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
    .nav-link {
        font-size: 1.75rem;
    }
    .bottom-content {
        margin: 0 5vw;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
    .nav-link {
        font-size: 1.75rem;
    }
    .bottom-content {
        margin: 0 5vw;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        margin-left: 2rem;
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.35rem;
    }
    #navbar {
        display: none;
    }
    #hamburger {
        display: block;
    }
    .name-box {
        width: 90vw;
        height: 15rem;
        margin: -7.5rem 0 0 -45vw;
    }
    .bottom-content {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        margin: 5rem auto 0 auto !important;
        font-size: 3rem;
        text-align: center;
    }
    p,
    a {
        font-size: 1.1rem;
    }
    .home-top {
        height: 50vh;
    }
    .background {
        height: 50vh;
    }
    .background-fade {
        top: 25vh;
    }
    .name-box {
        width: 90vw;
        height: 25vh;
        margin-left: -45vw;
        margin-top: -12.5vh;
    }
    #tagline {
        font-size: 1.25rem;
    }
    #hamburger {
        padding: 1.5rem;
    }
    #mobile-navbar {
        top: 4rem;
    }
    #mobile-navbar.dropdown {
        height: 10rem;
    }
    .mobile-nav-link {
        height: 2rem;
        font-size: 1.5rem;
    }
}

@supports (background-clip: text) {
    h2 {
        /* Apply gradient to text */
        background-clip: text !important;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
}
